<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>

<%= form_tag search_path, :method => 'post' do %>
  <p> Search For A POWER<br>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>

  </p>
<% end %>
